<!DOCTYPE html>
<html>

<head>

<title>Cloud Auto Scaling Dashboard</title>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="/static/style.css">

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>


<body>

<h1>Cloud Auto Scaling Dashboard</h1>


<div class="cards">

<div class="card">
<h3>CPU Usage</h3>
<p id="cpu">0%</p>
</div>

<div class="card">
<h3>Processing Time</h3>
<p id="time">0 sec</p>
</div>

<div class="card">
<h3>Active Servers</h3>
<p id="servers">0</p>
</div>

<div class="card">
<h3>Scaling Suggestion</h3>
<p id="suggestion">Waiting...</p>
</div>

</div>


<div class="chart-container">

<canvas id="cpuChart"></canvas>

</div>


<button onclick="simulate()">Simulate Heavy Traffic</button>


<script src="/static/script.js"></script>

</body>
</html>